---
import { getCollection } from "astro:content";
import TechnologiesUsed from "../TechnologiesUsed.astro";

const projectsColletion = await getCollection('projects');
const projects = projectsColletion.map(project => project.data).flat();

---
<section class="min-h-screen bg-background-skills flex flex-col gap-5 text-white mb-10">
    <h2 class="text-center text-4xl font-bold">Projects</h2>
    <ul class="flex flex-col items-center w-full gap-5">
        {
            projects.map(project => (
                <li class="flex relative border-2 rounded w-4/5 flex-col bg-background">
                    <TechnologiesUsed technologies={project.technologies} />
                    <picture class="border-b-2">
                        <img class="rounded-t" src={project.img} alt={`${project.name} image`} />
                    </picture>
                    <a class="text-center text-black" href={project.deploy} target="_blank">{project.name}</a>
                </li>
            ))
        }
    </ul>
</section>