---
import type { Project } from '../types/project.interface';
import TechnologiesUsed from './TechnologiesUsed.astro';

interface Props {
  project: Project;
}
const { project } = Astro.props;
---

<li
  class="hidden project__item relative border-2 rounded w-4/5 flex-col bg-background shadow-lg h-[150px] md:h-[170px] lg:h-[200px] xl:h[250px] max-w-[400px] projectItem animate__animated animate__fadeInUp animation__delay-4s"
>
  <TechnologiesUsed technologies={project.technologies} />
  <picture class="overflow-hidden">
    <img
      loading="lazy"
      src={project.img}
      alt={`${project.name} image`}
      class="rounded-t hover:scale-125 cursor-pointer transition-all duration-200"
    />
  </picture>
  <article class="flex w-full text-white justify-between bg-black p-2">
    <a class="hover:scale-105 transition-all duration-200" href={project.code} target="_blank">
      <img class="invert w-5" src="/img/coding.png" alt="Coding icon" loading="lazy" />
    </a>
    <strong class="cursor-pointer">{project.name}</strong>
    <a class="hover:scale-105 transition-all duration-200" href={project.deploy} target="_blank">
      <img class="invert w-5" src="/img/deploy.png" alt="Coding icon" loading="lazy" />
    </a>
  </article>
</li>
